<!-- total_credits_per_month.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Credits Used Per Month</title>

    <!-- Plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    <!-- Container for the Plotly chart -->
    <div id="plotly-chart"></div>

    <!-- Script to render the Plotly chart -->
    <script>
        // Load the figure from Flask variable
        var fig = {{ fig | tojson | safe }};

        // Parse the JSON string to a JavaScript object
        var jsonFig = JSON.parse(fig);

        // Render the Plotly chart
        Plotly.newPlot('plotly-chart', jsonFig.data, jsonFig.layout);
    </script>
    <!-- Button to navigate to the main dashboard -->
    <div style="margin-top: 20px;">
        <a href="{{ url_for('dashboard') }}" style="text-decoration: none; padding: 10px 20px; background-color: #007BFF; color: #fff; font-weight: bold; border-radius: 5px;">Back to Main Dashboard</a>
    </div>
</body>
</html>
